*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.child {
    height: 100px;
    min-width: 100px;
}

.bkg-red {
    background-color: rgb(255, 0, 0);
}
.bkg-blue {
    background-color: rgb(106, 161, 250);
}
.bkg-green {
    background-color: rgb(64, 255, 64);
}
