#grid {
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(2, 3fr 5fr);
    /* grid-template-rows: repeat(2, 2fr 3fr 1fr); */
    /* grid-auto-rows: auto; */
    gap: 1em;
    /* grid-template-rows: repeat(auto-fit, minmax(150px, 1fr)); */
    /* grid-template-rows: minmax(auto, max-content); */
    align-items: start;
    align-content: center;
    /* justify-content: center; */
    justify-items: stretch;
}

#B {
    align-self: flex-end;
}

#J {
    justify-content: center;
}
