.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.border {
    border: 5px solid;
}

.box {
    width: 200px;
    height: 200px;
}

.main {
    color: rebeccapurple;
    border: 2px solid #ccc;
    padding: 1em;
}

.special {
    color: black;
    font-weight: bold;
}
